body{
    background-color: aliceblue;
}

.navbar .logo {
    width: 130px;
    height: auto;

    margin-left:2vh;
  }
/*menu css*/
.div1{
    height: 15vh;
}
.button2{
    margin-top: -2vh;
}
.cabecalhomenu2{
    background-color: #0072BC;
}
h5{
    color: black;
}
/*carousel css*/

    .banner {
        display: flex;
        align-items: center; /* Align items to the start */
        justify-content: flex-start; /* Space between carousel and accordion */
        flex-wrap: wrap;

        width: 100%;
        height: 60vh;
        margin-top:10vh;
    }
    
    .carousel {
       width: 100%;
       height: 60%;
       margin-left:2vh;
       margin-top: 20vh;
    }
    .carousel-indicators{
       align-items: flex-end;
    }
    
    .accordion {
        width: 100%; /* Adjust width of accordion */
        height: 80%; /* Full height of the banner */
        margin-top: 20vh;
        overflow-y: auto; /* Scroll if content exceeds height */
    }
    .accordion .accordion-body {
        max-height: 50vh; /* Adjust based on content */
        overflow-y: auto;
    }
    .no-style-link {
        text-decoration: none; /* Remove o sublinhado */
        color: inherit; /* Herda a cor do elemento pai (por exemplo, a cor do texto) */
    }
    
    /* Opcional: adicionar um estilo ao passar o mouse, se desejar */
    .no-style-link:hover {
        text-decoration:underline;
        color: #007bff; /* Cor padrão do Bootstrap para links, se desejar */
    }


    /* Media query para dispositivos com largura de tela até 576px (como iPhones) */
@media (max-width: 576px) {
    .navbar .logo {
      width: 100px; /* Reduz o tamanho do logo para telas menores */
    }
  
    .navbar-toggler {
      margin-right: 10px; /* Ajusta o espaçamento do botão de menu */
    }
  
    .offcanvas-body .nav-item {
      text-align: center; /* Centraliza os itens do menu */
    }
  
    .offcanvas-title {
      text-align: center; /* Centraliza o título do menu offcanvas */
    }
  
    .offcanvas-header {
      justify-content: center; /* Centraliza o cabeçalho do menu offcanvas */
    }
    .accordion{
        margin-top:2vh;
      }
  }